<html>
<body>
	<h2>Add a new menu item</h2>
	<form action="#" method ='post'>	
		<p>Name:</p>
		<input type='text' size='30' name='name' placeholder="Menu Item Name">
		<p>Description:</p>
		<input type='text' size='100' name='name' placeholder="Describe the Menu Item">
		<input type='submit' value='Add'>
		<p>Price:</p>
		<input type='text' size='30' name='name' placeholder="$0.00">
		<p>Course:</p>
		<INPUT TYPE="radio" NAME="Appetizer" VALUE="a">Appetizer
		<INPUT TYPE="radio" NAME="Entree" VALUE="e">Entree
		<INPUT TYPE="radio" NAME="Desert" VALUE="d">Desert
		<INPUT TYPE="radio" NAME="Beverage" VALUE="b">Beverage
		<a href=#>Cancel</a>
	</form>
	
</body>
</html>