<html>
<body>
	<h2>Add a new menu item</h2>
	<form action="#" method ='post'>	
		<p>Name:</p>
		<input type='text' size='30' name='name' placeholder="Menu Item Name">
		<p>Description:</p>
		<input type='text' size='100' name='description' placeholder="Describe the Menu Item">
		<p>Price:</p>
		<input type='text' size='30' name='price' placeholder="$0.00">
		<p>Course:</p>
		<input type="radio" name="Appetizer" value="a">Appetizer
		<input type="radio" name="Entree" value="e">Entree
		<input type="radio" name="Desert" value="d">Desert
		<input type="radio" name="Beverage" value="b">Beverage
		<br><br>
		<input type='submit' value='Add'>
		<a href=#>Cancel</a>
	</form>
	
</body>
</html>