<!DOCTYPE html>
<html>
  <head>
    <title>Bine aţi venit !</title>
  </head>
  <body>
    <h1>Bine aţi venit!</h1>
    <form action="#" method="post">
        <p>utilizator: <input type="text" size="30" name="utilizator" placeholder="utilizator"></p>

        <p>parola: <input type="text" size="30" name="username" placeholder="parola"></p>
        <input type="submit" value="Intră în cont">
        <br><br>
        <input type="submit" value="Facebook"> <input type="submit" value="Google">
        <br><br>
        <p>Eşti nou aici?</p>
        <input type="submit" value="Fă-ţi cont">
    </form>
  </body>
</html>
