<!DOCTYPE html>
<html>
  <head>
    <title>Înregistrare</title>
  </head>
  <body>
    <h1>Formular de înregistrare:</h1>
    <form action="#" method="post">
        <p>Nume: <input type="text" size="30" name="nume" placeholder="Nume"></p>
        <p>Prenume: <input type="text" size="30" name="prenume" placeholder="Prenume"></p>
        <p>Nume de Utilizator: <input type="text" size="30" name="nume_utilizator" placeholder="Nume de Utilizator"></p>
        <p>Parolă: <input type="password" size="30" name="parola" placeholder="Parolă"></p>
        <p>Confirmare Parolă: <input type="tepasswordxt" size="30" name="confirmare_parola" placeholder="Donfirmare Parolă"></p>
        <p>Adresă de Email: <input type="email" size="30" name="email" placeholder="Adreas de Email"></p>
        <p>Data Naşterii: <input type="date" name="data_nastere" placeholder="zz-ll-aaaa"></p>
        <br><br>
        <input type="submit" value="Trimite formularul!">
        <br><br>
        <p>Sau înregistrează-te cu:</p>
        <p><input type="submit" value="Facebook"> sau <input type="submit" value="Google"></p>
        <br><br>
        <a href="#">Înapoi la pagina de login.</a>
    </form>
  </body>
</html>
